a(href='/', title='Back to the periodic table of projects!')
  p#title='BW'
.container
  .col-xs-12.col-ms-offset-3.col-ms-6.col-sm-offset-4.col-sm-4
    .type-text
      span#pre-type-here /$ 
      span#type-here
        | I am a web developer...
        br 
        | I made this silly site...
        br 
        | Touch your nose... it's itchy
        br 
        | I was a mechanical engineer...
        br 
        | I am a hackerman...
        br 
        | I am a kiteboarder...
        br 
        | I am a low quality meme producer...
        br 
        | I am ...... the batman...
        br 
        | why tho?...
        br 
        | cause... that's why...
        br 
        | Please contact me...
        br 
        | Or don't...

script.
  var options = {
    cursorChar: "▊",
    speed: 170,
    loop: true,
    nextStringDelay: [1000, 2000],
    lifeLike: true,
    autoStart: true,
    breakLines: false,
  };
  new TypeIt('#type-here', options);
