doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name="norton-safeweb-site-verification" content="53q3idgt5aytt12y81aolg9glgpuh2h0dr8aj8b5q9k0qf0sc31m3cbrw8k1ezf47tb0-nwaa1t7xt7ulpwgdoh1k6qg8pe38o71--l1hf3n5d2d0rfb5mf3wqmpks8k")
        link(rel='stylesheet', href='/css/main.css')
        link(rel="icon" href="/favicon.png")
        block head
    body
        header
            include header
        block content
        footer
            include footer
