doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='norton-safeweb-site-verification' content='53q3idgt5aytt12y81aolg9glgpuh2h0dr8aj8b5q9k0qf0sc31m3cbrw8k1ezf47tb0-nwaa1t7xt7ulpwgdoh1k6qg8pe38o71--l1hf3n5d2d0rfb5mf3wqmpks8k')        
        link(rel='stylesheet', href='/vendor/bootstrap.min.css')
        link(rel='stylesheet', href='/vendor/bootstrap_ms.css')
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css")
        script(src='/vendor/jquery-3.2.1.min.js')
        script(src='/vendor/bootstrap.min.js')
        script(src='/vendor/turbolinks.js')
        script(src='/vendor/masonry.pkgd.min.js')
        script(src='/vendor/isotope.pkgd.min.js')
        script(src='/vendor/typeit.min.js')
        link(rel='stylesheet', href='/shared/main.css')
        link(rel='icon' href='/images/favicon.png')
        script.
            function recalculateFooter() {
                var headerHeight = $("header").height();
                var footerHeight = 125;
                var contentHeight = $(".background").height();
                var totalHeight = headerHeight + contentHeight + footerHeight;
                var windowHeight = $(window).height();
                var newHeight = "unset";
                if (totalHeight < windowHeight ) {
                    newHeight = windowHeight - totalHeight + footerHeight;
                }
                $('footer').css({
                    "height": newHeight
                });
                console.log('Run recalculateFooter') 
            }
            $(document).click(function(event){
                recalculateFooter();
            });
        
        // Global site tag (gtag.js) - Google Analytics
        script(async src='https://www.googletagmanager.com/gtag/js?id=UA-38440481-1')
        script. 
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments)};
            gtag('js', new Date());
            gtag('config', 'UA-38440481-1');

        block head
    body
        header
            include header
        .background
            block content
        footer
            include footer
