//- Introduction
.container
    h1 Blog Recent
    ol.blog-list
        each post, index in blogContent
            - var titleTrimmed = post.title.slice(0,40);
            - var dateTrimmed = post.date.slice(0,10);
            li.blog-item
                a(href="https://blog.benwinding.com/" + post.path)
                    span.blog-title(title=post.title)=titleTrimmed
                span.blog-date=dateTrimmed
