.blog-list {
  text-align: left;
  padding-left: 18px;
}

.blog-item {
  margin-bottom: 5px;
}

.blog-date {
  margin-right: 10px;
  margin-left: 10px;
  color: grey;
}

.blog-title {
  text-decoration: underline;
}
