extends ../shared/layout

block head
    title Home - Ben Winding
    link(rel='stylesheet', href='/css/portal.css')

mixin makeCard(bootstrapSize, img, category, acronym, title, linkUrl, imageUrl)
    div(class=bootstrapSize + " " + category)
        div(class="item " + category + " tint",style="background-image: url("+imageUrl+");")
            a#cardlink(href=linkUrl)
                img.behind(src='/images/' + img)
                div(class="item-content ")
                    p.item-acronym=acronym
                    p.item-name=title


block content
    - var colSizes =           "col-xs-6  col-sm-3 col-md-3 col-lg-1";
    - var smSquare = "grid-item col-xs-6  col-sm-3 col-md-3 col-lg-1";
    - var mdSquare = "grid-item col-xs-6  col-sm-6 col-md-3 col-lg-2";
    - var lgSquare = "grid-item col-xs-12 col-sm-6 col-md-6 col-lg-3";
    .background
        .container
            .row#topButtons
                .col-xs-12.text-center
                    .btn-group#filters(role='group', aria-label='Basic example')
                        button.btn.active(data-filter='*') All
                        button.btn#b1(data-filter='.c1') Grey
                        button.btn#b2(data-filter='.c2') Green
                        button.btn#b3(data-filter='.c3') Blue
                        button.btn#b4(data-filter='.c4') Red
            .grid
                div(class="grid-sizer " + colSizes)
                +makeCard(lgSquare, "r1-c2.svg", "c1", "Me", "About", "/about", "https://i.imgur.com/9EDPzlX.jpg")
                +makeCard(smSquare, "r1-c1.svg", "c4", "Xe", "Cricket Lanes", "https://benwinding.github.io/CricketNet-Demo/", "https://i.imgur.com/HOEhfy7.jpg")
                +makeCard(smSquare, "r1-c1.svg", "c3", "Bd", "This Site?", "/but-how?", "https://i.imgur.com/7TS2LVj.jpg")
                +makeCard(lgSquare, "r1-c2.svg", "c2", "Me", "Blog", "http://blog.benwinding.com", "https://i.imgur.com/0sIeGjL.jpg")
                +makeCard(smSquare, "r1-c1.svg", "c4", "Xe", "Wake Park", "https://benwinding.github.io/angular2-wakepark-teaser/#/parkPreview", "https://i.imgur.com/XnvWfB4.png")
                +makeCard(smSquare, "r1-c1.svg", "c1", "Me", "Engineering", "/engineering", "https://i.imgur.com/LXmM68w.gif")

    script.
        $(function () {
            $('.item').bind('click', function (ev) {
                ev.preventDefault();
                var card = $(this);
                var cardParent = card.parent();
                cardParent.css({
                    "zIndex": 999,
                    "position": "fixed",
                    "margin": "0",
                    "padding": "0",
                    "opacity": "0.8"
                });
                card.animate({
                    "height": "100vh",
                    "width": "100vw"
                });
                cardParent.animate({
                    "top": "0",
                    "left": "0",
                    "width": "100%",
                    "height": "100vh",
                    "fontSize": "2em"
                }, 'slow', function () {
                    card.fadeTo(300, 1, function () {
                    })
                    setTimeout(function () {
                        document.location = card.children().attr("href");
                    }, 100);
                });
            });
        });
        $('.grid').isotope({
            itemSelector: '.grid-item',
            masonry: {
                columnWidth: '.grid-sizer'
            },
            hiddenStyle: {
                opacity: 0
            },
            visibleStyle: {
                opacity: 1
            }
        });
        setTimeout(function() {
            $('.grid').isotope('layout')
            setTimeout(function () {
                $('.grid').isotope('layout')
            }, 500);
        }, 500);

        // bind filter button click
        $('#filters').on('click', 'button', function () {
            var filterValue = $(this).attr('data-filter');
            $('.grid').isotope({filter: filterValue});
        });
        // change is-checked class on buttons
        $('.btn-group').each(function (i, buttonGroup) {
            var $buttonGroup = $(buttonGroup);
            $buttonGroup.on('click', 'button', function () {
                $buttonGroup.find('.active').removeClass('active');
                $(this).addClass('active');
            });
        });

