//- Introduction
.container.text-center
    h1 Other Websites
    .col-xs-12.col-ms-6.col-sm-4
        .card
            .card-title
                h3 Main Site (This)
                a(href="https://benwinding.com") https://benwinding.com
            .card-image(style='background-image: url("https://i.imgur.com/rYsGCgN.gif");')
                img.behind(src='/images/r1-c1.svg')
    .col-xs-12.col-ms-6.col-sm-4
        .card
            .card-title
                h3 Blog
                a(href="https://blog.benwinding.com") https://blog.benwinding.com
            .card-image(style='background-image: url("https://i.imgur.com/g1ETdvd.gif");')
                img.behind(src='/images/r1-c1.svg')
