extends shared/layout

block head
    title About - Ben Winding
    link(rel="stylesheet" href="/css/about.css")
block content
    div(class='about')
        div(class='box', id='title')='Ben Winding'
        div(class='box', id='descriptionShort')="\"Live life like you were a dog\""
        img(id='imageMain', src='https://i.imgur.com/9EDPzlX.jpg')
        div(class='box', id='descriptionLong')
            include:markdown-it about.md
