extends shared/layout

block head
    title About - Ben Winding
    link(rel="stylesheet" href="/css/about.css")
block content
    div(class='about')
        div(class='box', id='title')='Ben Winding'
        div(class='box', id='descriptionShort')="\"Live life like you were a dog\""
        img(id='imageMain', src='https://i.imgur.com/9EDPzlX.jpg')
        div(class='box', id='descriptionLong')
            h2 History
            p Growing up in Adelaide, South Australia. Ben began his life as a normal child, with all the prospects of becoming a contributing member of society.
            p However during his schooling he discovered the internet, which corrupted his fragile mind.
            p After spending thousands of hours on the web, he was unable to function normally without seeing meme's everywhere.

            h2 Now
            p Why would you still be reading this, he's unwell, there's nothing to see here.
            a(href='/')='Tack me back'

            a(href='/')