extends shared/layout

block head
    title Home - Ben Winding
    script(src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js")

block content
    script.
        Muuri = null
    script(src="https://cdnjs.cloudflare.com/ajax/libs/muuri/0.5.3/muuri.min.js")
    .grid
        each val in sites
            .item
                .item-content
                    img.behind(src=val.img)
                    a(href=val.link)
                        p.title=val.title

    script(src="js/cards.js")
