.about {
  background-color: #fdf6be;
  color: #444;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr;
  padding: 1em 10%;
}

.box {
  background-color: lightyellow;
  border-radius: 0.5em;
  padding: 1em;
}

#title {
  grid-row: 1;
  font-size: 2em;
  text-align: center;
  font-style: bold;
}

#descriptionShort {
  grid-row: 3;
  text-align: center;
  font-style: italic;
}

#imageMain {
  width: 100%;
  grid-row: 2;
  border-radius: 0.5em;
}

#descriptionLong {
  grid-area: 1 / 2 / 5 / 2;
}

/* Medium */
@media (min-width: 1000px) {
  .about {
    padding: 1em 20%;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .about {
    grid-gap: 0.3em;
    grid-template-columns: 1fr;
    padding: 0.3em 0.3em !important;
  }

  #imageMain {
    width: 100%;
    grid-row: 3;
    border-radius: .5em;
  }

  #descriptionLong {
    grid-area: 2;
  }

  #descriptionShort {
    grid-row: 4;
  }

  #title, #descriptionShort {
    padding: 0.2em;
  }
}