/*MAIN*/
html {
  background-color: maroon;
}

h1,h2,h3,h4,h5,h6,p,div{
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0px;
  background-color: maroon;
}
header {
  text-align: center;
  padding: 13px;
  background-color: maroon;
}
header > h1 {
  text-shadow: 0px 3px black;
}
header > a {
  color: white;
  text-decoration: none;
}
footer {
  text-align: center;
  padding: 20px;
  background-color: maroon;
  color: white;
}
footer > h4 {
  font-size: 1.3em;
}
footer > a {
  font-size: 1.5em;
  font-style: oblique;
  text-decoration: none;
  color: azure;
}
a > h6 {
  margin-top: 0;
  margin-bottom: 0;
}
a:hover {
  text-decoration: none !important;
}

/*
  PORTAL
*/

body, .grid, .background {
  background-color: #fdf6be;
}
a {
  text-decoration: none;
  color: inherit;
}
img.behind {
  position: relative;
  width: 100%;
}
p.item-index {
  font-size: 2em;
  margin: 0;
  text-align:  left;
}
p.item-acronym {
  font-size: 3em;
  margin: 0 -0.2em 0 0;
  font-weight: bold;
}
p.item-name {
  font-size: 1.2em;
  margin: 0;
  font-weight:  bold;
  color: inherit;
}
p.item-weight {
  font-size: 1.2em;
  margin: 0;
}

.item.c1 {
  background-color: #2bc5c5;
  border: 2px solid #007268;
  color: #5a3131;
}
.item.c2 {
  background-color: #66CC33;
  border: 2px solid #006e07;
  color: #483b3b;
}
.item.c3 {
  background-color: orange;
  border: 2px solid #c06031;
  color: #8c0b0b;
}
.item.c4 {
  background-color: dodgerblue;
  border: 2px solid #004b96;
  color: #8c0b0b;
}
.item {
  display: block;
  z-index: 1;
  border-radius: 6px;
  text-align: right;
  margin: 5px;
}
.item-content {
  width: 93%;
  color: inherit;
  position: absolute;
  top: 0;
  left: 0;
  padding:1em;
}
.item-content > img {
  width: 100%;
  border-radius: 0.4em;
}
.grid > div {
  padding: 0px;
}
.container {
  background-color: #5a3131;
}

/*
  ABOUT
*/

.about {
  background-color: #fdf6be;
  color: #444;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr;
  padding: 1em 10%;
}
.box2 {
  background-color: lightyellow;
  border-radius: 0.5em;
  padding: 1em;
}
#aboutTitle {
  grid-row: 1;
  font-size: 2em;
  text-align: center;
  font-style: bold;
}
#descriptionShort {
  grid-row: 3;
  text-align: center;
  font-style: italic;
}
#imageMain {
  width: 100%;
  grid-row: 2;
  border-radius: 0.5em;
}
#descriptionLong {
  grid-area: 1 / 2 / 5 / 2;
}

/*
  BUT HOW
*/
.how {
  background-color: #fdf6be;
  color: #444;
  padding: 1em 10%;
}

/*
  MEDIA QUERIES
*/

/* Mobile */
@media (max-width: 700px) {
  /*MAIN*/
  header {
    text-align: center;
    padding: 0.1em;
    margin: 0.1em;
    background: maroon;
    color: white;
  }
  /*ABOUT*/
  .about {
    grid-gap: 0.3em;
    grid-template-columns: 1fr;
    padding: 0.3em 0.3em !important;
  }
  #imageMain {
    width: 100%;
    grid-row: 3;
    border-radius: .5em;
  }
  #descriptionLong {
    grid-area: 2;
  }
  #descriptionShort {
    grid-row: 4;
  }
  #title, #descriptionShort {
    padding: 0.2em;
  }
}
/* Medium */
@media (min-width: 1000px) {
  /*ABOUT*/
  .about {
    padding: 1em 20%;
  }
}
