/*MAIN*/
html {
  background-color: maroon;
}

h1,h2,h3,h4,h5,h6,p,div{
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0px;
  background-color: maroon;
}
header {
  text-align: center;
  padding: 13px;
  background-color: maroon;
}
header > h1 {
  text-shadow: 0px 3px black;
}
header > a {
  color: white;
  text-decoration: none;
}
footer {
  text-align: center;
  padding: 20px;
  background-color: maroon;
  color: white;
}
footer > h4 {
  font-size: 1.3em;
}
footer > a {
  font-size: 1.5em;
  font-style: oblique;
  text-decoration: none;
  color: azure;
}
a > h6 {
  margin-top: 0;
  margin-bottom: 0;
}
a:hover {
  text-decoration: none !important;
}

/*
  BUT HOW
*/
.how {
  background-color: #fdf6be;
  color: #444;
  padding: 1em 10%;
}

/*
  MEDIA QUERIES
*/

/* Mobile */
@media (max-width: 700px) {
  /*MAIN*/
  header {
    text-align: center;
    padding: 0.1em;
    margin: 0.1em;
    background: maroon;
    color: white;
  }
  /*ABOUT*/
  .about {
    grid-gap: 0.3em;
    grid-template-columns: 1fr;
    padding: 0.3em 0.3em !important;
  }
  #imageMain {
    width: 100%;
    grid-row: 3;
    border-radius: .5em;
  }
  #descriptionLong {
    grid-area: 2;
  }
  #descriptionShort {
    grid-row: 4;
  }
  #title, #descriptionShort {
    padding: 0.2em;
  }
}
/* Medium */
@media (min-width: 1000px) {
  /*ABOUT*/
  .about {
    padding: 1em 20%;
  }
}
