/*
  PORTAL
*/

body, .grid, .background {
    background-color: #ffffff;
}
a {
    text-decoration: none;
    color: inherit;
}
img.behind {
    position: relative;
    width: 100%;
    margin: 0px;
    /* padding: 0; */
}
p.item-index {
    font-size: 2em;
    margin: 0;
    text-align:  left;
}
p.item-acronym {
    font-size: 3em;
    margin: 0 -0.2em 0 0;
    font-weight: bold;
}
p.item-name {
    font-size: 1.2em;
    margin: 0;
    font-weight:  bold;
    color: inherit;
}
p.item-weight {
    font-size: 1.2em;
    margin: 0;
}

.item {
    border: 0px solid black;
    color: black;
    background-image: url(https://i.imgur.com/CVaBqx1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.item.c1, .item.c1:before {
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
}
.item.c2, .item.c2:before {
    background-color: rgba(0, 255, 0, 0.2);
    color: green;
}
.item.c3, .item.c3:before {
    background-color: rgba(0, 0, 255, 0.2);
    color: blue;
}
.item.c4, .item.c4:before {
    background-color: rgba(255, 0, 0, 0.2);
    color: red;
}

.btn#b1 {
    background-color: #bbbbbb;
}
.btn#b2 {
    background-color: #93ff93;
}
.btn#b3 {
    background-color: #b6b6ff;
}
.btn#b4 {
    background-color: #ffb6b6;
}

.item {
    display: block;
    z-index: 1;
    border-radius: 6px;
    text-align: right;
    margin: 0px;
}
.item-content {
    width: 93%;
    color: inherit;
    position: absolute;
    top: 0;
    left: 0;
    padding:1em;
}
.item-content > img {
    width: 100%;
    border-radius: 0.4em;
}

.grid-item {
    padding: 5px;
    margin: 0px;
}

#topButtons {
    padding-top: 10px;
    padding-bottom: 10px;
}

.container {
    padding-bottom: 10px;
}

.tint {
    position: relative;
    float: left;
}

.tint:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,255,255, 0.5);
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

.tint:hover:before {
    background: none;
}
