h1,h2,h3,h4,h5,h6,p,div{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
    background: maroon;
}

header {
    text-align: center;
    padding: 13px;
    background: maroon;
    color: white;
}

header > h1 {
    text-shadow: 0px 3px black;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: maroon;
    color: white;
}

footer > h4 {
    font-size: 1.3em;
}

.wrapper {
    background-color: #fdf6be;
    color: #444;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(13em, 1fr) );
    padding: 1em;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 1em;
    padding: 20px;
    font-size: 1.5em;
    box-shadow: 0em 0.2em black;
}

.box > p {
    margin: 0em;
}

a {
    text-decoration: none;
}

.box > img {
    width: 100%;
    border-radius: 0.4em;
}

.box:hover {
    color: aliceblue;
    text-decoration: none;
    background-color: maroon;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 7px 20px 0 rgba(0, 0, 0, 1);
}

.box:after{
    content:none;
}

.box:hover:after{
    content:'Click To Enter';
    text-align:center;
    width:100%;
}

/* Mobile */
@media (max-width: 680px) {
    .wrapper {
        grid-gap: 0.3em;
        grid-template-columns: repeat(auto-fill, minmax(9em, 1fr) );
        padding: 0.3em;
    }

    .box {
        border-radius: 0.7em;
        padding: 0.3em;
        font-size: 1.2em;
    }
}
