h1,h2,h3,h4,h5,h6,p,div{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
}

header {
    text-align: center;
    padding: 13px;
    background: maroon;
    color: white;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: maroon;
    color: white;
}

.wrapper {
    background-color: #fff;
    color: #444;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(13em, 1fr) );
    margin: 1em;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 1.5em;
}

.box > p {
    margin: 0em;
}

a {
    text-decoration: none;
}

.box > img {
    width: 100%;
}

.box:hover {
    color: aliceblue;
    text-decoration: none;
    background-color: maroon;
    font-weight: bold;
}

.box:after{
    content:none;
}

.box:hover:after{
    content:'Click To Enter';
    text-align:center;
    width:100%;
}

/* Mobile */
@media (max-width: 680px) {
    .wrapper {
        grid-gap: 0.3em;
        grid-template-columns: repeat(auto-fill, minmax(9em, 1fr) );
        margin: 0.3em;
    }

    .box {
        border-radius: 5px;
        padding: 0.3em;
        font-size: 1.2em
    }
}
