extends ../shared/layout

block head
    title Engineering - Ben Winding
    style.
        #eng {
          max-width: 100%;
          width: 300px;
        }

block content
    .background
        .container
            h1 Engineering
            p I do that
            img#eng(src="https://i.imgur.com/LXmM68w.gif")
            p