extends ../shared/layout

block head
    title About - Ben Winding
    link(rel='stylesheet', href='/about/about.css')

block content
    .container.about
        .col-xs-12.col-ms-6.col-sm-6.col-md-4.text-center
            .about-box#aboutTitle Ben Winding
            img.about-box#imageMain(src='https://i.imgur.com/ippR6wp.jpg')
            .about-box#descriptionShort "Live life like you were a dog"

        .col-xs-12.col-ms-6.col-sm-6.col-md-8
            .about-box
                include:markdown-it about.md
