extends ../shared/layout

block head
    title About - Ben Winding
    style about.css
    link(rel='stylesheet', href='/about/about.css')

block content
    div(class='about')
        div.box2#aboutTitle Ben Winding
        div.box2#descriptionShort "Live life like you were a dog"
        img#imageMain(src='https://i.imgur.com/ippR6wp.jpg')
        div.box2#descriptionLong
            include:markdown-it about.md
