.how-item {
  background-color: #d6ffb9;
  padding: 10px;
  margin-top: 22px;
  border: grey 2px solid;
}

.how-img-wrapper {
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
}

.how-img {
  width: 100%;
}

.how-title{
  font-size: 1em;
  font-weight: bold;
  margin: 9px 0px;
}

.how-description{
  font-size: 1em;
  font-style: italic;
}

.container {
  margin-bottom: 20px;
}