extends ../shared/layout

block head
    title But How? - Ben Winding
    link(rel='stylesheet', href='/css/but-how.css')

block content
    div.but-how
        h1 Tech
        p Well this site was hacked together using the following technologies.
        p Yeah it's all javascript, don't be scared

        h2 Backend
        li Node Js ≈ Server
        li Pug ≈ Templates

        h2 Frontend
        li Turbolinks ≈ Fast
        li Muuri ≈ Sort
        li Hammer ≈ Drag
        h1

        b Disclaimer
        br
        i I have little style, just like functionality and the color maroon.
