.caption {
}

#lightGallery {
  padding: 0;
  margin: 0;
}

#lightGallery > #item {
  display: inline-block;
  list-style: none;
  padding: 5px;  
}

#item > img {
  width: 100%;  
}

img.behind {
    position: relative;
    width: 100%;
    margin: 0px;
}

.image-content {
    width: 93%;
    color: inherit;
    position: absolute;
    top: 0;
    left: 0;
    padding:1em;
    text-shadow: inherit;
}
